In [1]:
#Introduction to slicing of list:

In [2]:
students=['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [3]:
list(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [5]:
#Req: To have a group of 2 students each.......

In [6]:
#How to access the element in the list? ------> tansuri name of the student
print(students[4])

tansuri

In [7]:
print(students[0:1])

['ravali']

In [14]:
print(students[1:2])

['bhavani']

In [15]:
print(students[0:2])

['ravali', 'bhavani']

In [16]:
#Last value is always exclusive:

In [17]:
print(students[2:4])

['aleem', 'raj']

In [18]:
print(students[4:6])

['tansuri', 'shwetha']

In [19]:
#General syntax of slicing:
#Startpoint:Endpoint:Stepcount........

In [20]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [21]:
#Req: To get every alternative name in the out put.

In [22]:
print(students[0:5:2]) #Every alternative name in the given list.

['ravali', 'aleem', 'tansuri']

In [23]:
#Introducing to -ve indexing:

In [24]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [25]:
#Req: Wanted to access the last element in the list.

In [26]:
print(students[5])

shwetha

In [27]:
print(students[-1])

shwetha

In [28]:
print(students[2])

aleem

In [31]:
print(students[-4])

aleem

In [32]:
print(students)

['ravali', 'bhavani', 'aleem', 'raj', 'tansuri', 'shwetha']

In [33]:
#Print the list in a reverse order by using the slicing concept.

In [34]:
print(students[::-1])

['shwetha', 'tansuri', 'raj', 'aleem', 'bhavani', 'ravali']

In [35]:
#Understanding the range function

In [36]:
# Req: I want to print number till 30
# startvalue,stopvalue,stepcount

In [37]:
for value in range(0,30):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [40]:
for value in range (0,31):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [41]:
# Req: To have a list of 30 numbers

In [42]:
numbers=list(range(0,31))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [43]:
# Req: To print only even numbers till 30.

In [44]:
even_numbers=list(range(0,31,2))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [45]:
# Req: How do you print odd numbers till 50.

In [52]:
odd_numbers=list(range(1,51,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]